* {
    box-sizing: border-box;
}

.home {
    max-width: 940px;
    margin: auto;
}

.home__photo {
    width: 100%;
}

.home__title {
    margin: 0;
    margin-bottom: 20px;
}

.home__descr {
    margin: 0;
    margin-bottom: 20px;
}